*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.main{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background: #fff;
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    font-weight: 700;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    margin-left: 5rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Heebo', sans-serif;
    display: flex;
}
.firstPage, .secondPage, .thirdPage{
    width: 100%;
    height: 100%;
    background: #000;
}
.container{
    width: 90%;
    margin: auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.intro{
    font-weight: lighter;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 40%;
    padding: 0px 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.intro h2{
    font-size: 5rem;
    font-family: sans-serif;
    height: fit-content;
}
.intro p{
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: 20px 0px;
}
.images{
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.images img{
    padding: 2px;
    width: 400px;
}
.images .image-set-1, .images .image-set-2{
    display: flex;
    flex-direction: row;
}
.images .image-set-3{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.intro1{
    display: none;
}
@media (max-width: 784px) {
    .secondPage .intro{
        display: none;
    }
    .intro1{
        display: block;
        font-weight: lighter;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 40%;
        padding: 0px 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro1 h2{
        font-size: 5rem;
        font-family: sans-serif;
        height: fit-content;
    }
    .intro1 p{
        letter-spacing: 1px;
        font-size: 1.2rem;
        padding: 20px 0px;
    }
}
@media (max-width: 550px) {
    nav{
        padding: 1% 2%;
        height: 50px;
    }
    a{
        margin-left: 1rem;
    }
    .logo{
        font-size: 20px;
    }
    .images img{
        width: 340px;
    }
}